.profile-panel {
  flex-direction: column;
  display: flex;
  align-items: center;
  gap: 0;
  padding: 0.5rem;
}

.user-icon {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: contain;
  border: 2px solid white;
  background-color: #fff;
}

.fallback-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  background-color: gray;
  color: white;
}

.username {
  color: #a4a4a4;
  font-size: 1rem;
  font-weight: 400;
}

/* DROP MENU */

.profile-icon-wrapper {
  cursor: pointer;
  position: relative;
}

.profile-menu {
  position: absolute;
  top: 70px;
  left: 20px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 0.5rem 0;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 999;
  min-width: 120px;
  text-align: left;
}

.profile-menu .logout-btn {
  background: none;
  border: none;
  color: #2A3439;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0.5rem 0.5rem;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.profile-menu .logout-btn:hover {
  background-color: #EDFF00;
}